fastapi
uvicorn
python-multipart
img2pdf
pypdf
pillow
reportlab
mammoth
xhtml2pdf
markdown
moviepy
ebooklib
beautifulsoup4
pygments
pandas
openpyxl
requests
pdf2docx
pdfplumber
pymupdf
pytesseract
pdf2image
python-pptx
tabula-py
pikepdf